html {
    font-family: sans-serif;
    font-size: 16px;
}

body {
    background-color: hsl(0, 0%, 90%);
    margin: 0;
    padding-top: 20px;
}

html, body {
    height: 100%;
    width: 100%;
}

html, html * {
    box-sizing: border-box;
}

body {
    padding: 0 1rem;
}

/* By default, assume a small screen
 *
 * Want 2 cards
 */
section[role="gallery"] {
    position: relative;
    margin: 0 auto;
    width: 288px;
    height: 100%;
}

.card {
    position: absolute;
    display: inline-block;
    border-radius: 2px;
    box-shadow: 0 1px 2px black;
    background-color: white;
    width: 139px;
    transition: transform 0.5s ease-out;
}

/* min-width = <bp> + ( 2 * <padding size> )
 *
 * Want 3 cards
 */
@media (min-width: 469px) {
    section[role="gallery"] {
        width: 437px;
    }
}

/* min-width = <bp> + ( 2 * <padding size> )
 *
 * Want 4 cards
 */
@media (min-width: 618px) {
    section[role="gallery"] {
        width: 586px;
    }
}

/* min-width = <bp> + ( 2 * <padding size> )
 *
 * Want 4 cards
 */
@media (min-width: 767px) {
    section[role="gallery"] {
        width: 735px;
    }
}
